.primary{
    color: $primary-color;
}

.subtitle {
    padding: 1rem;
    color: #a8a8a8;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.title {
    font-size: 3.5rem;
    line-height: 5rem;
}

.hero {
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 3.5rem;
}

