
// Topbar Styles
.topbar {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $border-color;

  .leftSide {
    display: flex;
    gap: 2rem;
    align-items: center;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .nav {
    display: flex;

    ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      align-items: center;
      padding: 0;
      margin: 0;
      font-size: 1.3rem;
      font-weight: 400;

      li {
        a {
          color: $text-color;
          color: #323232;
          font-size: 1.2rem;
          font-weight: 500;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.avatar {
  position: relative; // To position the dropdown
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.dropdown {
  position: absolute;
  top: 50px; // Adjust based on your layout
  right: 0; // Align with the avatar
  background-color: white; // Dropdown background color
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10; // Ensure it appears above other elements
  padding: 0.5rem;

  .logoutButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: $text-color; // Adjust as needed
    width: 100%;
    text-align: left;

    &:hover {
      background-color: #f0f0f0; // Change on hover
    }
  }
}
