// _variables.scss
// Colors
$primary-color: #8056eb;
$primary-dark-color: #5b24e7;
$text-color: #333;
$border-color: #f1f1f1;

// Spacing
$button-padding: 1rem 1.5rem;

// Effects
$transition-duration: 0.3s;
$hover-lift: 2px;

// Card
$card-color: #9977ef;
$card-background-color: #f2eefd;
